wp-data/
db-data/
/cypress/screenshots/
/cypress/downloads/
/cypress/videos/
yarn.lock
package-json.lock
composer.lock
.env
*.log
*.css.map
*.js.map
~*
*.sql
*.sqlite
*.7z
*.gz
*.zip
node_modules/
ehthumbs.db
Thumbs.db
.turbo
.vercel
!/apps/cms/custom/data/dental_dev.sql
.env*.local
