/wp-data
/db-data
/themes/*
/plugins/*
/vendor/
/cypress/screenshots/
/cypress/downloads/
/cypress/videos/
yarn.lock
package-json.lock
composer.lock
.env
*.log
*.css.map
*.js.map
~*
*.sql
*.sqlite
*.7z
*.gz
*.zip
node_modules/
ehthumbs.db
Thumbs.db
!/plugins/minnek-plugin
!/themes/minnek-theme
