/wp-data
/db-data
/themes/*
/plugins/*
/vendor/
/cypress/screenshots/
/cypress/videos/
yarn.lock
package.lock
composer.lock
.env
*.log
~*
*.sql
*.sqlite
*.7z
*.gz
*.zip
node_modules/
ehthumbs.db
Thumbs.db
!/plugins/minnek-plugin
!/themes/minnek-theme
